@import '../../stylesheets/variables';

.shop {
  margin-bottom: 1rem;

  &__name {
    margin: 0 0 0.5rem;
    font-weight: normal;
  }

  &__address,
  &__distance {
    margin: 0;
    color: $manatee;
  }
}
