@import 'variables';

html, body {
  margin: 0;
  padding: 0;
}

html {
  background: $platinum;
  color: $black;
  font-family: $sans-serif;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  margin-top: 2rem;
  font-size: 1.953rem;
}

h2 {
  margin-top: 1.6rem;
  font-size: 1.563rem;
}

h3 {
  margin-top: 1.28rem;
  font-size: 1.25rem;
}

h4,
h5 {
  margin-top: 1.024rem;
  font-size: 1rem;
}

h6 {
  margin-top: 1rem;
  font-size: 0.8rem;
}

p {
  margin: 0.5rem 0 0;
  line-height: 1.5;
}
