$sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$black: #353535;
$purple: #7C606B;
$manatee: #9C92A3;
$platinum: #EAEDE6;
$white: #fff;